/* start: css reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  font-size: 0;
}

input,
textarea {
  font-size: inherit;
}

button {
  font-size: inherit;
  font-family: inherit;
}

* {
  outline: transparent;
  outline-offset: 0rem;
  transition: outline 50ms linear, outline-offset 50ms linear;
}

*:focus-visible {
  outline: 2px solid hsl(0, 0%, 25%);
  outline-offset: 0.25rem;
}

/* end: css reset */

body {
  font-family: sans-serif;
  font-size: 1.125rem;
}

.app-content-container {
  width: 75vw;
  max-width: 768px;
  margin-inline: auto;
  margin-block-start: 3rem;
  margin-block-end: 5rem;
}


/* navbar */
.main-navbar>ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background-color: lightskyblue;
  padding-block: 1rem;
  padding-inline: 2rem;
}

.main-navbar a {
  --background-color: transparent;
  --foreground-color: hsl(0, 0%, 25%);

  display: block;
  text-decoration: none;
  padding-inline: 1.5rem;
  padding-block: 0.75rem;
  color: var(--foreground-color);
  background-color: var(--background-color);
  letter-spacing: 0.0625rem;

  border: 3px solid var(--foreground-color);
  border-radius: 0.5rem;
}

.main-navbar ul li:first-child a {
  --foreground-color: hsl(0, 0%, 25%);
}

.main-navbar ul li[data-loggedstatus="logged_in"]:last-child a {
  --foreground-color: hsl(0, 0%, 25%);
  border: 3px solid transparent;
  border-radius: 100%;
  padding: 0;
  /* font-size: 1.875rem; */
  font-size: 2rem;
}

.main-navbar ul li[data-loggedstatus="logged_in"]:last-child a:hover {
  --background-color: hsl(0, 0%, 25%);
  --foreground-color: lightskyblue;

  border: 3px solid hsl(0, 0%, 25%);
}

.main-navbar ul li a:hover {
  --background-color: hsl(0, 0%, 25%);
  --foreground-color: lightskyblue;
}

/* login card */
.login-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: clamp(300px, 300px + 10vw, 800px);
  margin-inline: auto;
}

.login-card>p {
  text-align: center;
  padding-block: 1rem;
}

.login-card>button {
  --background-color: lightskyblue;
  --foreground-color: hsl(0, 0%, 25%);

  padding-block: 1rem;
  background-color: var(--background-color);
  color: var(--foreground-color);
  border-radius: 0.75rem;
  border: 2px solid var(--foreground-color);
}

.login-card>button:hover {
  --background-color: hsl(0, 0%, 25%);
  --foreground-color: lightskyblue;
}

/* blog form */
.create-blog-form-title {
  margin-block-end: 1.5rem;
  text-align: center;
  font-weight: 500;
}

.create-blog-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.create-blog-form>div:not(:last-child) {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.create-blog-form label {
  letter-spacing: 0.0625rem;
  margin-inline-start: 1rem;
  font-size: 1.25rem;
}

.create-blog-form input[type="text"],
.create-blog-form textarea {
  padding: 0.75rem;
  border: 2px solid hsl(0, 0%, 25%);
  border-radius: 0.5rem;
}

.create-blog-form textarea {
  resize: vertical;
  font-family: inherit;
  line-height: inherit;
  white-space: pre-line;
}

.create-or-update-form-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1.5rem;
}

.create-blog-form button {
  --background-color: lightskyblue;
  --foreground-color: hsl(0, 0%, 25%);

  padding-block: 1rem;
  padding-inline: 3rem;
  background-color: var(--background-color);
  color: var(--foreground-color);
  border-radius: 0.5rem;
  border: 2px solid var(--foreground-color);
  cursor: pointer;
}

.create-blog-form button:hover {
  --background-color: hsl(0, 0%, 25%);
  --foreground-color: lightskyblue;
}

/* blog list */
.blog-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.blog-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: lightskyblue;
  border: 2px solid hsl(0, 0%, 25%);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.blog-card-btn-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-block-start: 3rem;
}

.blog-card-btn-container>button {
  padding-block: 0.75rem;
  padding-inline: 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid hsl(0, 0%, 25%);
}

.blog-card-btn-container>button:hover {
  background-color: hsl(0, 0%, 85%);
}

.shorten-blog-content {
  line-height: 1.5;
  max-height: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-content {
  margin-block-end: 2.5rem;
}

.pre-wrap {
  white-space: pre-wrap;
}

/* loading card */

.loading-animated-title,
.loading-animated-name,
.loading-animated-content,
.loading-animated-userphoto {
  background-color: hsl(0, 0%, 35%);
  background-image: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.25),
      transparent);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

.loading-animated-title {
  height: 1.25rem;
  border-radius: 0.25rem;
}

.loading-animated-name {
  height: 1.25rem;
  width: 50%;
  border-radius: 0.25rem;
}

.loading-animated-content {
  height: 5rem;
  border-radius: 0.25rem;
}

.loading-animated-userphoto {
  aspect-ratio: 1 / 1;
  border-radius: 0.25rem;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: calc(20% - 2.25rem);
}

@keyframes loading {
  0% {
    background-position: -100% 0;
  }

  100% {
    background-position: 100% 0;
  }
}

/* user info card */
.user-info-card {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding: 1.5rem;
  margin-block-end: 3rem;
  border: 3px solid hsl(0, 0%, 25%);
  border-radius: 0.5rem;
  /* background-color: lightskyblue; */
}

.user-info-card>img {
  border-radius: 0.5rem;
  aspect-ratio: 1 / 1;
  flex-shrink: 1;
  object-fit: cover;
  align-self: center;
}

.user-info-container {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  gap: 1rem;
  justify-content: center;
}

.user-info-container>h1 {
  font-weight: normal;
}

.btn-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.user-info-container button,
.user-info-container a {
  padding-block: 0.75rem;
  padding-inline: 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid hsl(0, 0%, 25%);
}

.btn-container>a {
  padding-inline: 3rem;
  text-decoration: none;
  color: inherit;
}

.btn-container>a:hover {
  background-color: hsl(0, 0%, 90%);
}

.btn-container>button {
  background-color: hsl(9, 100%, 54%);
}

.btn-container>button:hover {
  background-color: hsl(9, 100%, 44%);
}

/* blog */
.blog-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-inline: 3rem;
  padding-block: 2rem;
  border-radius: 0.5rem;
  background-color: lightskyblue;
}

.blog-container .blog-content {
  margin-block-start: 2rem;
}


/* dialog box */
.dialog-box-container {
  display: grid;
  place-items: center;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 90%, 0.85);
}

.dialog-box {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  width: 90vw;
  position: absolute;
  z-index: 100;
  background-color: lightskyblue;
  padding: 1.5rem;
  color: black;
  border: 3px solid hsl(0, 0%, 25%);
  border-radius: 0.5rem;
}

.dialog-btn-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-end;
}

.dialog-btn-container>button {
  padding-block: 0.75rem;
  padding-inline: 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid hsl(0, 0%, 25%);
  background-color: hsl(0, 0%, 90%);
}

.dialog-btn-container>button:hover {
  background-color: hsl(0, 0%, 85%);
}

/* media queries */

@media (max-width: 700px) {
  .app-content-container {
    width: 90vw;
  }
}

@media (max-width: 550px) {
  .user-info-card {
    flex-direction: column;
  }

  .user-info-container>h1 {
    text-align: center;
  }

  .btn-container {
    justify-content: center;
  }

  .create-or-update-form-btn-container > button {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding-inline: 1rem;
  }

  .blog-container {
    padding-inline: 1.75rem;
  }
}

@media (max-width: 420px) {
  .main-navbar > ul {
    padding-inline: 1rem;
  }
  
  .btn-container {
    flex-direction: column;
    gap: 1rem;
  }

  .btn-container>a {
    text-align: center;
  }

  .create-or-update-form-btn-container {
    flex-direction: column;
  }

  .blog-container {
    padding-inline: 1.25rem;
  }
}